---
layout: default
---

<div>

      <div class="post-date">{% assign m = page.date | date: "%-m" %}
{% assign dy = page.date | date: "%-a" %}
{% case dy %}
  {% when "Mon" %}Montag,
  {% when "Tue" %}Dienstag,
  {% when "Wed" %}Mittwoch,
  {% when "Thu" %}Donnerstag,
  {% when "Fri" %}Freitag,
  {% when "Sat" %}Samstag,
  {% when "Sun" %}Sonntag,
  {% endcase %}
{{ page.date | date: "%-d" }}.
{% case m %}
  {% when '1' %}Januar
  {% when '2' %}Februar
  {% when '3' %}M&auml;rz
  {% when '4' %}April
  {% when '5' %}Mai
  {% when '6' %}Juni
  {% when '7' %}Juli
  {% when '8' %}August
  {% when '9' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}
{{ page.date | date: "%Y" }},
{{ page.date | date: "%R" }} Uhr
        </div>

      {{ content }}

</div>
